[Unit]
Description=TFT-MoodeCoverArt Display
Requires=mpd.socket mpd.service
After=mpd.socket mpd.service
 
[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/TFT-MoodeCoverArt/tft_moode_coverart.py &
#ExecStartPre=/bin/sleep 15
ExecStop=/home/pi/TFT-MoodeCoverArt/tft_moode_coverart.sh -q
Restart=on-abort
 
[Install]
WantedBy=multi-user.target 